@font-face {
    font-family: 'ChunkFive';
    src: url('../fonts/chunk-master-2/webfonts/ChunkFive-Regular.woff2') format('woff2'),
         url('../fonts/chunk-master-2/webfonts/ChunkFive-Regular.woff') format('woff'),
         url('../fonts/chunk-master-2/webfonts/ChunkFive-Regular.eot') format('embedded-opentype');
  }

  @font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato-web-font/lato-regular.woff') format('woff2'),
         url('../fonts/lato-web-font/lato-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato-web-font/lato-bold.woff') format('woff');
  }

   /* BODY
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

/* This makes an outline on the category link when it is focused on it using the keyboard */
.category a:focus-visible {
  outline: 4px solid #653B2F;   
  outline-offset: 4px;         
}

body{
    background-color: #F6E5DC;
}

* {
    scroll-behavior: smooth;
}

.about {
  background-color: #c3e0dc;
  border: none;
  font-size: 1.25rem;
  font-family: 'lato-regular';
  border-radius: 0.5em;
  padding: 1rem;      
  text-align: center; 
  position: relative;
  left: 4rem; 
  cursor: pointer;
  margin-top: 0.2em;
  margin-bottom: -2em
}


   /* BACK TO TOP
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#myBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.938rem;
  font-family: lato-regular;
  border: 0.125em solid #e7bf98;
  background-color: #e7bf98;
  border-radius: 0.5em;
}

h1 {
    font-family: 'ChunkFive', serif;
    font-weight: normal;
    font-size: 3.9375rem;
    text-align: center;
    color: #000000;
    margin-bottom: -0.01em; /*Makes smaller spacing between header text and h1 text*/
  }

p{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
    font-family: "lato-regular";
    font-weight: normal;
    text-align: center;
    color: #000000;
}

.header{
    display: grid;
    /* border: 1px solid red; */
    justify-content: center;
    margin: 0 18.2vw 0 18.2vw;
}
    

.main {
    display: grid;
    /* border: 1px solid red; */
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
    margin: 0 18.2vw 0 18.2vw;
    row-gap: 4rem;
}

.category {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-family: "lato-regular";
    font-weight: normal;
    color: #653B2F;
  }


.category:hover {
    font-family: 'lato-bold';
  }

.category-icon {
    width: 15rem;
    height: auto;
    transition: transform 0.3s ease; /* smooth animation */
  }
  
  .category:hover .category-icon {
    transform: scale(1.05); /* makes it slightly bigger */
  }

  .about:hover {
    transform: scale(1.05); /* makes it slightly bigger */
    font-family: 'lato-bold';
  }

  @media (prefers-reduced-motion: reduce) {
    .category:hover .category-icon {
      transform: none !important;
      transition: none !important;
    }
  }

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

     /* BREAKPOINTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (max-width: 1000px) {
    .category-icon {
      width: 10rem;
    }
  }
  
  @media (max-width: 393px) {
    .category-icon {
      width: 8rem;
    }
  }

@media (max-width: 1000px){
    .category{
    font-size: 1.25rem;
    }
 } 


@media (max-width: 1000px){
    .header{
      margin: 0 2.6vw 0 2.6vw;
    }
}

/*mobile*/
@media (max-width: 1000px){
    p{
      font-size: 1rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
}

/*desktop*/
@media (min-width: 1001px){
    p{
      font-size: 1.25rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
}


/*mobile*/
@media (max-width: 1000px){
    h1{
      font-size: 2.5rem;
    }
}
/*desktop*/
@media (min-width: 1001px){
    h1{
      font-size: 3.9375rem;
    }
}

@media (max-width: 1000px) {
    .main {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 5vw 0 5vw;
      row-gap: 3.2rem;
    }
}

@media (max-width: 1000px) {
.about {
  background-color: #c3e0dc;
  border: none;
  font-size: 1rem;
  font-family: lato-regular;
  border-radius: 0.5em;
  padding: 1rem 1rem 1rem 1rem;       
  position: relative;         
  text-align: center; 
  left: 2.5rem;             
  cursor: pointer;
}
}

/* Web fonts:
Chunk Five (Downloaded from The Font Squirrel)
Lato-Regular (Downloaded from Google Fonts)
Lato-Bold (Downloaded from Google Fonts)
*/





   
