@font-face {
  font-family: 'ChunkFive';
  src: url('../fonts/chunk-master-2/webfonts/ChunkFive-Regular.woff2') format('woff2'),
       url('../fonts/chunk-master-2/webfonts/ChunkFive-Regular.woff') format('woff'),
       url('../fonts/chunk-master-2/webfonts/ChunkFive-Regular.eot') format('embedded-opentype');
}

@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/lato-web-font/lato-regular.woff') format('woff2');
  src: url('../fonts/lato-web-font/lato-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/lato-web-font/lato-bold.woff') format('woff');
}

body{
    margin: 0em; /*This makes the navbar start right at the edge of the screen */
    background-color: #F6E5DC;
  }

* {
    scroll-behavior: smooth;
}

  /* BACK TO TOP BUTTON
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
#myBtn {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 0.938rem;
  font-family: 'lato-regular';
  border: 0.125em solid #e7bf98;
  background-color: #e7bf98;
  border-radius: 0.5em;
}

#myBtn:hover {
  transform: scale(1.05); /* makes it slightly bigger */
  font-family: 'lato-bold';
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3)); 
}

  /* NAV BAR
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /*I followed a tutorial from Coding2GO YT channel to make the nav bar"*/
  nav{
    position: sticky;
    background-color: #F5E9DF;
    box-shadow: 0.1875em 0.1875em 0.3125em rgba(0, 0, 0, 0.1); 
    min-height: 3.75em; 
    display: flex;
    align-items: center;
    padding: 0 23em; 
    margin-bottom: -1.5em; /* Reduces space below the navbar */
    top: 0;
    z-index: 1000;
  }
  
  nav ul{
    width: 100%;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center; 
  }
  
  nav li{
    height: 3.7em;
  }
  
  nav a{
    height: 100%;
    padding: 0 1.25em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #653B2F;
    font-family: 'lato-regular';
    font-weight: normal;
    font-size: 1.125rem;
    text-transform: uppercase;
  }


/* HOVER LINK FOR NAVBAR*/
/* This gives each link in the navbar its own unique colour */
.nav-home a:hover {
  background-color: #e7bf98; 
  color: #000000;
  font-family: 'lato-bold'
}

.nav-about a:hover {
  background-color: #c3e0dc;
  color: #000000;
  font-family: 'lato-bold'
}

  .nav-speed a:hover {
    background-color: #e7a299;
    color: #000000;
    font-family: 'lato-bold'
  }
  
  .nav-memory a:hover {
    background-color: #aedf9d;
    color: #000000;
    font-family: 'lato-bold'
  }
  
  .nav-strategy a:hover {
    background-color: #bca4db;
    color: #000000;
    font-family: 'lato-bold'
  }
  
  .nav-creativity a:hover {
    background-color: #efadd0;
    color: #000000;
    font-family: 'lato-bold'
  }
  
  .nav-spelling a:hover {
    background-color: #9dcded;
    color: #000000;
    font-family: 'lato-bold'
  }
  
  .nav-precision a:hover {
    background-color: #f5d09d;
    color: #000000;
    font-family: 'lato-bold'
  }

  nav li:first-child{
    margin-right: 0;
  }

nav ul li:last-child {
    margin-left: auto; /* Pushes the hamburger menu icon to the far right */
}  

/* This gives the navbar a fade in transition as you hover over it */
a:hover {
  transition: 1s;
}

  .sidebar{
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 15.625em;
    z-index: 999;
    background-color: #F5E9DF;
    box-shadow: -0.625em 0 0.625em rgba(0, 0, 0, 0.1);
    align-items: flex-start;
    padding-left: 0;
    justify-content: flex-start;
  }
  
  .sidebar li{
    width: 100%;
  }
  
  .sidebar a{
    width: 100%;
  }
  
  .x_icon{
    fill: #653B2F;
  }
  
  .menu_icon {
    display: none;
  }

/* ACTIVE LINK FOR NAVBAR*/
  /* This ensures the current page has a background on the selected page in the nav bar*/
  a:is(:link, :active, :visited).active-home {
    color: rgb(0, 0, 0);
    background-color: #e7bf98;
    font-family: 'lato-bold';
  }

  a:is(:link, :active, :visited).active-about {
    color: rgb(0, 0, 0);
    background-color: #c3e0dc;
    font-family: 'lato-bold';
  }

  a:is(:link, :active, :visited).active-speed {
  color: rgb(0, 0, 0);
  background-color: #e7a299;
  font-family: 'lato-bold' /* The page you are on is in bold */
}

a:is(:link, :active, :visited).active-memory {
  color: rgb(0, 0, 0);
  background-color: #aedf9d;
  font-family: 'lato-bold'
}

a:is(:link, :active, :visited).active-strategy {
  color: rgb(0, 0, 0);
  background-color: #bca4db;
  font-family: 'lato-bold'
}

a:is(:link, :active, :visited).active-creativity {
  color: rgb(0, 0, 0);
  background-color: #efadd0;
  font-family: 'lato-bold'
}

a:is(:link, :active, :visited).active-spelling {
  color: rgb(0, 0, 0);
  background-color: #9dcded;
  font-family: 'lato-bold'
}

a:is(:link, :active, :visited).active-precision {
  color: rgb(0, 0, 0);
  background-color: #f5d09d;
  font-family: 'lato-bold'
}

  /* This makes an outline on the category link when it is focused on it using the keyboard */
  nav a:focus {
    outline: 4px solid #653B2F;
  }

    /* This makes an outline on the links in the sidebar when it is focused on it using the keyboard */
  .sidebar a:focus {
    outline: 4px solid #653B2F;
  }

   /* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  /* Header Container */
  .header{
    display: flex;
    flex-direction: column;
    gap: 5em; /*This changes spacing between the separate sections for each board game*/
    margin: 0 auto;
    max-width: 50em;
    padding: 0 0.625em;
    /*border: 1px solid red;*/
    margin-bottom: 3em;
  }

    /* Jump Ahead */
  .jump-ahead {
    font-family: 'lato-regular';
    color: #653B2F;
    font-size: 1.25rem;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    max-width: 50em;
    padding: 0 2em;
  }
  
  .jump-ahead h3 {
    margin-bottom: 0.25em; /* Makes smaller spacing between jump ahead text and the links */
    font-size: 1.25rem;
    font-family: 'lato-bold';
  }
  
  .jump-ahead ul {
    list-style: circle;
    padding-left: 0.7em; /*This makes the bullet points perfectly align with the rest of the content */
    margin: 0;
  }
  
  .jump-ahead li {
    margin-bottom: 0.25em; /* Makes larger spacing between the links */
    text-indent: 2em;
  }
  
  .jump-ahead a {
    text-decoration: none;
    color: #1E6EDB; 

  }
/* This gives the links an underline when you hover over them */
  .jump-ahead a:hover {
    text-decoration: underline;
    transition: 1s; /* Gives it 1 second to fade into darker colour */
    color:#104697; /* Gives the links a darker shade of blue as you hover over it */
    font-family: 'lato-bold'; /*Makes it bold when you hover over it */
  }
  
  .indicator {
    display: none;
  }

  /* Filter Conditions */
.container-for-filter-conditions{
  position: relative;
  /*border: 1px solid red;*/
  margin-bottom: 5em; /*This creates more spacing between the filter conditions and the main sections*/
}

  .filter-condition-for-age {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red;*/
    max-width: 50%;
    padding: 0 2.4em; /*This aligns the filter by age text with the text above it*/
    position: absolute;
  }

  .filter-condition-for-players {
    display: flex;
    flex-direction: column; /* This sets it to vertical, stacking the information from top to bottom */
    /*border: 1px solid red;*/
    max-width: 50%;
    padding: 0 0.625em;
    margin-left: 3em;
    position: absolute;
    margin-left: 17em;
  }

.product-field ul {
  list-style: none; /* This removes the bullet points*/
}

.filter-by-age,
.filter-by-players {
  font-family: 'Lato-bold';
  font-size: 1.25rem;
  color: #653B2F;  
  margin-right: 1rem;
}

/* This styles the selection drop down menu */
select {
  font-size: 1.25rem;
  font-family: 'Lato';
  color: #000;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #ccc;
}

ul.sidebar,
ul.indicator,
ul.items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

     /* BODY
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* Main Container */
  .main {
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 0 auto;
    max-width: 50%; /* This controls the main portion of my code to only take up 50% of screen width */
    padding: 0 0.625em; 
    max-width: 50em;
  }

  h1 {
    font-family: 'ChunkFive', serif;
    font-weight: normal;
    font-size: 3.9375rem;
    color: #000000;
    margin-bottom: -1.5em; /*Makes smaller spacing between category text and board-game text */
  }

  .jump-ahead {
    margin-bottom: -2em; 
  }

  h2{
    font-family: 'lato-bold';
    font-size: 2rem;
    color: #653B2F;
  }
  
  figure h2 {
    margin: 0 0 0.5em 0; /*Controls spacing between title and image*/
  }

  .body{
    color: black;
    font-family: 'lato-regular';
    font-size: 1.25rem;
    margin-bottom: 1.5em; 
    margin-top: 0.5em; 
    max-width: 65%; /* This makes the body text take up 65% of the width in the main section when on desktop*/
    line-height: 1.3;
  }

  .age-players{
    color: black;
    font-family: 'lato-regular';
    font-size: 1.25rem;
    margin: 0;
    line-height: 1.3;         
  }

/*The text reading: "age" and "players" is bolded here*/
.bold-text {
    font-family: 'lato-bold';
}

ul.items {
  display: flex;
  flex-direction: column;
  gap: 5em; /* This controls spacing between each board game */
}

figure {
    display: flex; /* This makes the images and text respond flexibly*/
    flex-direction: column; 
}

img {
    max-width: 100%;
    height: auto; 
    align-items: center;
}

p {
    margin-top: 0.625em;
}

   /* FADE IN UP EFFECT 
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hidden {
    opacity: 0;
    transition: all 1s;
  }

.show {
    opacity: 1; /*At one second the board games reach 100% opacity*/
}

@-webkit-keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(100px); 
  }

  100% {
      opacity: 1;
      transform: translateY(0px); 
  }
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
      transform: translateY(100px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

  /* BREAK POINTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media (max-width: 430px) {
    .main, .header {
      padding: 0 0em;
    }
  }

/* This hides the navbar on mobile */
@media(max-width: 1076px){
    .hide_on_mobile{
      display: none;
    }
  }

/*This shows the menu icon on mobile*/
@media(max-width: 1076px){
    .menu_icon{
      display: block;
    }
  }

/* This moves the menu icon to the top right corner when in mobile*/
  @media(max-width: 1076px) {
    nav{
        padding: 0 0.625em;
    }
  }

  /* This makes the "Go To Top" button have smaller font size on mobile*/
  @media (max-width: 900px) {
    #myBtn{
      font-size: 1rem;
    }
  }

/*The images take up the whole container width on mobile*/
    @media(max-width: 900px){
        img{
            max-width: 100%;
            height: auto; 
        }
      }

@media(max-width: 900px){
        h1{
            font-size: 2.5rem;
            margin-bottom: -2em; /* Makes smaller spacing between category text and board-game text */
        }
      }

@media(max-width: 900px){
        h2{
            font-size: 1.5rem;
        }
      }

@media(max-width: 900px){
        .body{
            max-width: 100%;
            height: auto; 
            font-size: 1rem;
        }
      }

@media(max-width: 900px){
        .age-players{
            font-size: 1rem;
        }
      }

@media(max-width: 900px){
      .jump-ahead {
        font-size: 1rem;
      }
    }

    @media(max-width: 900px){
      .jump-ahead h3{
        font-size: 1rem;
      }
    }

    @media(max-width: 900px){
      .filter-by-age {
        font-size: 1rem;
        font-family: 'lato-bold';
        color: #653B2F;
      }
    }

    @media(max-width: 900px){
      .filter-by-players {
        font-size: 1rem;
        font-family: 'lato-bold';
        color: #653B2F;
      }
    }

/* This makes the dropdown menu text smaller at mobile */
@media (max-width: 900px) {
  select {
    font-size: 1rem;
  }
}

/* This makes the spacing between the filter by age and players consistent with how it was in desktop*/
@media (max-width: 900px) {
  .filter-condition-for-players {
    margin-left: 14.2em;
  }
}

/* This makes the bullet points perfectly aligned with the rest of the content on mobile*/
@media (max-width: 900px) {
  .jump-ahead ul {
    padding-left: 1em;
  }
}

/* Web Font Credits:
Chunk Five (Downloaded from The Font Squirrel)
Lato-Regular (Downloaded from Google Fonts)
Lato-Bold (Downloaded from Google Fonts)
*/








